<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="Dark-tint">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title>จำนวนนักศึกษา</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>นักเรียน</ion-card-subtitle>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="barstdyear" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>