<ion-header>
  <ion-toolbar>
    <ion-title>ลงชื่อเข้าใช้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="chcklogin()">
    <ion-item>
      <ion-label position="floating" for="username">ชื่อผู้ใช้</ion-label>
      <ion-input #username type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="password">รหัสผ่าน</ion-label>
      <ion-input #password type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" expand="full" style="margin-top:30px;">
      ลงชื่อเข้าใช้
    </ion-button>
  </form>
  <!-- <ion-item>
    <ion-label position="floating">ชื่อผู้ใช้</ion-label>
    <ion-input #username type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">รหัสผ่าน</ion-label>
    <ion-input #password type="password"></ion-input>
  </ion-item>

  <ion-button shape="round" expand="full" style="margin-top:30px;" (click)="Onclickbtn()">
    ลงชื่อเข้าใช้
  </ion-button> -->

</ion-content>